.logo{
    width: 50px;
}

.containerImgPortadaTema1 {
    display: block;
}


.containerImgPortadaTema2 {
    display: none;
}

.redLogoTema2 {
    display:none;
}

.redLogoTema3 {
    display:none;
}

.mq2{
    display: none;
}