.logo{
    width: 50px;
}

.nav-link.active{
    background: rgb(112, 88, 144);
  border-radius: 50px;
}


.containerImgPortadaTema1{
    display: none;
}


.containerImgPortadaTema2{
    display: block;
}

.imgPortadaTema2{

    width:1280px;
    height: 360px;
}

.redLogoTema2 {
    display:block;
}

.redLogoTema3 {
    display:none;
}

.mq1{
    display: none;
}

.mq2{
  width:700px;
  height: 50px;
  overflow:hidden;
  white-space:nowrap;
  animation:marqueeScroll 25s linear infinite;
}

@keyframes marqueeScroll{
  from{
    transform:translateX(100%);
  }
  to{
    transform:translateX(-100%);
  }
}